# binaries, configuration, etc.
out/*
productctl
!internal/cmd/productctl
*.env
*completion*

# python virtual environment used for schema generation
ve/

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
.vscode

# MacOS related artifacts
.DS_Store